<div class="container flex flex-col items-center justify-center gap-2">
  <h1>Need contact with developers? Mail us!</h1>
  <form [formGroup]="supportTicketForm" class="flex flex-col justify-center items-center gap-y-12" (ngSubmit)="onSubmit()">
    <select class="w-96 h-12 rounded-full bg-transparent" formControlName="title" id="select" (click)="changeColors()">
      <option disabled>Select subject</option>
      @for (item of topics;track item){
        <option [value]="item">{{item}}</option>
      }
    </select>
    <textarea
      formControlName="message" cols="30" rows="10" class="bg-transparent w-96"
      placeholder="Message..." required></textarea>
 <div>
   <button type="submit" class="btn rounded-full border-2 text-white-50 w-48 h-12"
           [disabled]="supportTicketForm.invalid"
           [ngClass]="{'button-active' : supportTicketForm.valid}"
   >Send message</button>
 </div>
  </form>
</div>
