<div class="container flex flex-col justify-center items-center h-lvh">
  <div class="info-bar relative bottom-24 text-3xl">
    <p>
      Register account to launch your tracker.
    </p>
  </div>
  <div class="button-container w-64 text-center flex flex-col gap-4 text-xl">
    <div class="button-login rounded-2xl h-8  bg-amber-500 cursor-pointer" routerLink="/login">Log in</div>
    <div class="button-register text-emerald-800 cursor-pointer h-8" routerLink="/register">Register</div>
  </div>
</div>
