$palette-white: #fafafa;
$palette-white-hover: #c9c9c9;
$palette-light-gray: #a7b0b6;
$palette-dark-gray: #424b5a;
$palette-light-black: #1B191B;
$palette-black: #070707;
$palette-light-green: #64927c;
$palette-dark-green: #1f7a5a;
$palette-blue: #1d5ca1;
$palette-orange: #d94e33;
$palette-red: #c2280a;
