@import "../../../variables";
.container{
  background-color: $palette-dark-gray;
  margin-left: 1vw;
  min-width: 84vw;
  min-height: 100vh;
  border-radius: 10px;
}
.chart1{
  width: 350px;
  color: $palette-black;
  height: 200px;
}
