<div class="container flex flex-col justify-between">
  <div class="charts-container flex items-center justify-between">
    <div id="areaChart" class="chart">
      <apx-chart
        [series]="areaExpensesSumChartOptions.series"
        [chart]="areaExpensesSumChartOptions.chart"
        [xaxis]="areaExpensesSumChartOptions.xaxis"
        [dataLabels]="areaExpensesSumChartOptions.dataLabels"
        [stroke]="areaExpensesSumChartOptions.stroke"
        [title]="areaExpensesSumChartOptions.title"
        [fill]="areaExpensesSumChartOptions.fill"
      ></apx-chart>
    </div>
    <div id="pieChart" class="chart">
      <apx-chart
        [series]="donutExpensesCategoryChartOptions.series"
        [chart]="donutExpensesCategoryChartOptions.chart"
        [responsive]="donutExpensesCategoryChartOptions.responsive"
        [labels]="donutExpensesCategoryChartOptions.labels"
        [title]="donutExpensesCategoryChartOptions.title"
      ></apx-chart>
    </div>
  </div>
  <div class="expenses flex gap-x-24">
    <div class="recent-expenses-list flex flex-col gap-8">
      <div class="flex title-records items-center justify-between">
        <p class="mx-2 text-xl w-max">Recent expenses</p>
        <i class="fa-solid fa-arrow-up-right-from-square router-icon" routerLink="/main/transactions"></i>
      </div>
      @for (record of records$.slice(0,5); track record.record_id){
        <app-record-item [record]="record"></app-record-item>
      } @empty {
        No records yet.
      }
    </div>
    <div class="flex flex-col">
      <div class="flex flex-col gap-y-8 h-[12vh] mb-4">
        <p class="mx-2 text-xl w-max">Subscriptions</p>
        <div class="grid grid-flow-row-dense 2xl:grid-cols-4 xl:grid-cols-3 lg:grid-cols-2 gap-x-6 md:grid-cols-1 gap-y-8 subscription-list">
          @for (subscription of subscriptions$.slice(0,5); track subscription.record_id){
            <app-record-item [record]="subscription" [dateFormat]="'MMM dd'"></app-record-item>
          } @empty {
            No subscriptions yet.
          }
        </div>
      </div>
      <div class="flex stats-container items-center">
        <div class="flex flex-col items-start  gap-y-8">
          <p class="text-lg">Stats</p>
          <p class="stats-description">Keep track of your expenses</p>
          <button class="rounded-full" routerLink="/main/portfolio">See all</button>
        </div>
        <div class="flex flex-row gap-6 ml-4 stats-card-container">
          <app-user-stat-card [title]="'Balance'" [data]="'$'+sessionStorage.getItem('balance') ?? ''"></app-user-stat-card>
          <app-user-stat-card [title]="'Monthly Goal'" [data]="'$'+sessionStorage.getItem('goal') ?? ''"></app-user-stat-card>
          <app-user-stat-card [title]="'Monthly Expense Limit'" [data]="'$'+sessionStorage.getItem('limit') ?? ''"></app-user-stat-card>
          <app-user-stat-card [title]="'Expenses'" [data]="records$.length.toString()"></app-user-stat-card>
        </div>
      </div>
    </div>
  </div>
</div>
