@import "../../../variables";
.record-type{
  background-color: $palette-black;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.expense{
  color: $palette-orange;
}
.income{
  color: $palette-light-green;
}
.record-date{
  font-size: 12px;
}
