@import "../../../variables";
.container{
  background-color: $palette-light-black;
  min-width: 82vw;
  min-height: 100vh;
  border-radius: 10px;
}
.container::content{
  padding: 4.5vh 2rem;
}
.expenses-container{
  width: 45vw;
}
.records {
  position: relative;
}

.records app-record-item-detailed {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.records:hover app-record-item-detailed {
  opacity: 0.2;
}

.records app-record-item-detailed:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

p{
  font-size: 24px;
}
.action-bar{
  display: flex;
  gap: 20px;
}
.button{
  width: 90px;
  height: 30px;
  border-radius: 10px;
  color: $palette-dark-gray;
  background: $palette-white;
}
.button:hover{
  color: $palette-light-green;
  transition: ease-in 0.1s;
}
.sort-button{
  background-color: $palette-black;
  color: $palette-light-gray;
}
.sort-button:hover{
  background-color: $palette-dark-gray;
  color: $palette-white-hover;
}
app-record-item{
  width: 20vw;
}
.sort-type-list{
  display: none;

}
.sort:hover ul{
  display: block;
  width: 90px;
  position: absolute;
  text-align: center;
  border-radius: 0 0 10px 10px;
  background-color: $palette-dark-gray;
  z-index: 1;
}
.sort-type-list:hover li{
  display: block;
}
li{
  padding: 10px;
}
li:last-child:hover{
  border-radius: 0 0 10px 10px;
}
li:hover{
  cursor: pointer;
  background-color: $palette-black;
  transition: background ease-in .3s;
}
.sort:hover .button{
  border-radius: 10px 10px 0 0;
}


