<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex gap-4 flex-col">
  <div class="input-container flex flex-col">
    <label for="email">Email</label>
    <input type="text"
           formControlName="email"
           id="email"
           placeholder="Enter your email address..."
    class="rounded-lg w-64 h-12">
  </div>
  <div class="input-container flex flex-col">
    <label for="password">Password</label>
    <input type="password"
           formControlName="password"
           id="password"
           placeholder="Enter your password..."
    class="rounded-lg w-64 h-12">
  </div>
  <button type="submit" class="button-submit h-10 mt-4 rounded-full">
    <i class="fa-solid fa-right-to-bracket fa-sm"></i> Log in
  </button>
  <div class="flex items-baseline justify-center gap-4">
    <span>Not a member?</span>
    <button routerLink="/register" class="button-submit h-10 mt-4 rounded-full w-32">
      Sign up
    </button>
  </div>
</form>
