@import "../../../../variables";

.input-container input{
  background-color: transparent;
  color: $palette-dark-gray;
  border: 1px solid $palette-dark-gray;
}
input::content{
  padding-left: 12px;
}
.button-submit{
  background-color: $palette-white;
  color: $palette-dark-gray;
  font-size: 16px;
}
.button-submit:hover{
  background-color: $palette-white-hover;
}
.invalid-input{
  color: $palette-orange;
  position: relative;
  bottom: 10px;
}
