@import "../../../../variables";
p{
  color: $palette-white;
}
.record-info{
  width: 5vw;
}
.record-container{
  min-height: 4rem;
  padding: 0.25vh 0.5vw;
  border-radius: 25px;
}
.record-container:hover{
  background-color: $palette-dark-gray;
  transform: scale(1.1);
  transition: ease-in 0.3s;
}
.record-container:not(:hover){
   background-color: $palette-light-black;
   transition: ease-in 0.3s;
 }
.expense{
  color: $palette-red;
}
.income{
  color: $palette-light-green;
}
.subscription{
  color: $palette-dark-green;
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background: $palette-black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.actions-button{
  color: $palette-light-green
}
.description{
  font-size: 0.75rem;
  color: $palette-light-gray;
}
