<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex gap-4 flex-col">
  <div class="input-container flex flex-col">
    <label for="name">User Name</label>
    <input type="text"
           formControlName="name"
           id="name"
           autocomplete
           placeholder="Enter your username..."
           class="rounded-lg w-80 h-12">
  </div>
  @if(!registerForm.get('name')?.valid && registerForm.get('name')?.touched && registerForm.get('name')?.value == ''){
    <p class="invalid-input">
      Username cannot be empty.
    </p>
  } @else if (!registerForm.get('name')?.valid && registerForm.get('name')?.touched && registerForm.get('name')?.hasError('minlength')){
    <p class="invalid-input">
      Username must be at least 4 characters long!
    </p>
  } @else if (!registerForm.get('name')?.valid && registerForm.get('name')?.touched && registerForm.get('name')?.hasError('maxlength')){
    <p class="invalid-input">
      Username cannot be longer than 16 characters!
    </p>
  }
  <div class="input-container flex flex-col">
    <label for="email">Email</label>
    <input type="email"
           formControlName="email"
           id="email"
           placeholder="Enter your email address..."
           class="rounded-lg w-80 h-12">
  </div>
  @if(!registerForm.get('email')?.valid && registerForm.get('email')?.touched && registerForm.get('email')?.value == ''){
    <p class="invalid-input">
      Email cannot be empty.
    </p>
  } @else if (!registerForm.get('email')?.valid && registerForm.get('email')?.touched && registerForm.get('email')?.hasError('minlength')){
    <p class="invalid-input">
      Email must be at least 8 characters long!
    </p>
  } @else if (!registerForm.get('email')?.valid && registerForm.get('email')?.touched && registerForm.get('email')?.hasError('maxlength')){
    <p class="invalid-input">
      Email cannot be longer than 32 characters!
    </p>
  }
  <div class="input-container flex flex-col">
    <label for="password">Password</label>
    <input type="password"
           formControlName="password"
           id="password"
           placeholder="Enter your password..."
           class="rounded-lg w-80 h-12">
  </div>
  @if(!registerForm.get('password')?.valid && registerForm.get('password')?.touched && registerForm.get('password')?.value == ''){
    <p class="invalid-input">
      Password cannot be empty.
    </p>
  } @else if (!registerForm.get('password')?.valid && registerForm.get('password')?.touched && registerForm.get('password')?.hasError('minlength')){
    <p class="invalid-input">
      Password must be at least 8 characters long!
    </p>
  } @else if (!registerForm.get('password')?.valid && registerForm.get('password')?.touched && registerForm.get('password')?.hasError('maxlength')){
    <p class="invalid-input">
      Password cannot be longer than 16 characters!
    </p>
  }
  <div class="input-container flex flex-col">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password"
           formControlName="confirmPassword"
           id="confirmPassword"
           placeholder="Enter your password once again..."
           class="rounded-lg w-80 h-12">
  </div>
  @if(registerForm.get('confirmPassword')?.touched && registerForm.hasError('matchValues')){
    <p class="invalid-input">
      Passwords differ from each other.
    </p>
  }
  <div class="input-container flex items-center gap-2">
    <input type="checkbox"
           formControlName="terms"
           id="terms"
           class="w-4 h-12"
    >
    <label for="terms">Accept rules of using YourSavings</label>
  </div>
  @if(!registerForm.get('terms')?.valid && registerForm.get('terms')?.touched && registerForm.get('terms')?.invalid){
    <p class="invalid-input">
      You have to accept our rules.
    </p>
  }
  <button
    type="submit"
    [disabled]="!registerForm.valid"
    class="button-submit h-10 mt-4 rounded-full">
    <i class="fa-solid fa-right-to-bracket fa-sm"></i> Sign up
  </button>
  <div class="flex items-baseline justify-center gap-4">
    <span>Already have an account?</span>
    <button routerLink="/login" class="button-submit h-10 mt-4 rounded-full w-24">
      Sign in
    </button>
  </div>
</form>
